.App {
  text-align: center;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 20% auto;
  grid-template-areas:
  "tricks-container"
  "form-container";
  grid-gap: 1em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 3em;
  margin-bottom: 240px;
}

